*.zip filter=lfs diff=lfs merge=lfs -text
22904[[:space:]]C:/Users/sumeg/AcadeXellence/.git/index filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/index filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/18/d04822c5667590f2afa4b8d0371108e73248e9 filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/26/b57c5dffa9194914db01663f3bff3406174e83 filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/74/b51e12c1227570f2d82ed58ac9464c9d54d7cf filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/9c/1033555ff4f2b7e8ac8160137780baf42ab0eb filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/df/884d75547442af48a772a545adc41022d14549 filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/f4/0d38706237c97de4277af871675efde6b09e92 filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/f6/de0701e41ae765fdfca70ebac48633d80202db filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/.git/objects/fa/6377c19a9e6e44b4116c46af0a7d9a9e7c05ec filter=lfs diff=lfs merge=lfs -text
[[:space:]]C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Improvement[[:space:]]Research[[:space:]]For[[:space:]]Academic[[:space:]]Management[[:space:]]System[[:space:]](2).pdf filter=lfs diff=lfs merge=lfs -text
[[:space:]]C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni.pptx.pptx filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_Minutes.pdf filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_improvements/error_log filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_ReactPages/.DS_Store filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_ReactPages/webpages/AdminUserManagement.js filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_ReactPages/webpages/InstructorExams.js filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_ReactPages/webpages/main.css filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_teammate_eval/KAMISETTY,[[:space:]]MUNI[[:space:]]HESHWANT[[:space:]]KUMAR[[:space:]]-[[:space:]]1002129854.pdf filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_teammate_eval/SONI,[[:space:]]PARTH[[:space:]]VIJAYKUMAR[[:space:]]-[[:space:]]1002053647.pdf filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_teammate_eval/SUNKU,[[:space:]]SUMEGHANA[[:space:]]-[[:space:]]1002063330.pdf filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_teammate_eval/SURNENI,[[:space:]]SUMANTH[[:space:]]ESHWAR[[:space:]]SAI[[:space:]]-[[:space:]]1002087310.pdf filter=lfs diff=lfs merge=lfs -text
C:/Users/sumeg/AcadeXellence/Kamisetty_Singareddy_Soni_Sunku_Surneni/Kamisetty_Singareddy_Soni_Sunku_Surneni_teammate_eval/_SINGAREDDY,[[:space:]]AKSHITHA[[:space:]]-[[:space:]]1002073447.pdf filter=lfs diff=lfs merge=lfs -text
